<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      License disc scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Barcode scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
  <ion-list>
  <ion-item>
    <ion-label>No: {{licenseDisk.No}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>LicenceNo: {{licenseDisk.LicenceNo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>VehRegNo: {{licenseDisk.VehRegNo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Description: {{licenseDisk.Description}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Make: {{licenseDisk.Make}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Model: {{licenseDisk.Model}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Colour: {{licenseDisk.Colour}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>VIN: {{licenseDisk.VIN}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>DateOfExpiry: {{licenseDisk.DateOfExpiry}}</ion-label>
  </ion-item>
</ion-list>
</div>
<br>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="performScan()">
      <ion-icon name="scan-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
